.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.tablesContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
